* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: auto;
  color: inherit;
}

/* start-header */

.header {
  position: fixed;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(253, 17, 5);
  color: white;

  top: 0;
  height: 3rem;
  width: 100%;
}

.header .brand {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  font-size: 2rem;
  align-items: center;
}

.brand img {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.header ul {
  display: flex;
  width: 20rem;
  flex-direction: row;
  margin-right: 2rem;
  justify-content: space-around;
}

.header ul li {
  height: 3rem;
  width: 100%;

  list-style: none;
  font-size: 1.2rem;
}

.header ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.header ul li a:hover {
  height: 3rem;
  width: 100%;

  background-color: rgb(255, 255, 255);
  color: rgb(75, 12, 12);
  transition: all 0.5s;
}
/* end-header */

main {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #bc1c2c;
  background-position: center;
  background-size: cover;

  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;
  min-height: 100vh;
}

.container h1 {
  align-self: start;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.linha {
  border-bottom: solid 1px rgb(255, 255, 255);
  z-index: 10;
  width: 100%;
}

.favoritos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5.5rem;

  width: 23rem;
  height: 26rem;
  margin: 2rem;

  border: 1px solid rgb(253, 17, 5);

  border-radius: 2rem;
  box-shadow: -8px 4px 32px rgba(0, 0, 0, 0.74);
}

.box-update span {
  border-bottom: solid 1px rgb(255, 255, 255);
  margin-left: 0;
  width: 100%;
}

.title {
  display: flex;

  padding-left: 1rem;
  font-size: 2rem;

  font-weight: bold;
  color: rgb(255, 255, 255);
}

.title span {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;

  justify-content: center;
  align-self: center;

  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.texto-update {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  word-wrap: normal;

  text-align: justify;
  font-size: 1.6rem;
  font-weight: 700;

  color: white;
}

.box-update img {
  height: 22rem;
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.box-update img:hover {
  background: rgb(0, 0, 0);
}

.box-update p {
  display: none;
}

.box-update:hover {
  margin-top: 5.5rem;

  width: 23rem;
  height: 26rem;
  margin: 2rem;

  z-index: 3;
  border: 1px solid rgb(253, 17, 5);

  border-radius: 2rem;
  box-shadow: -8px 4px 32px rgba(0, 0, 0, 0.74);
}

.box-update p:hover {
  display: flex;
  position: relative;
  bottom: 14rem;
  height: 22rem;
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  z-index: 1;
  background-color: black;
}

.btn {
  margin-top: -3rem;
}

.btn input {
  width: 6rem;
  height: 2rem;
  background-color: #fff;
  border: 1px solid rgb(253, 17, 5);
  border-radius: 1rem;
}
.btn input:hover {
  width: 6rem;
  height: 2rem;
  background-color: rgb(253, 17, 5);
  border: 1px solid rgb(253, 17, 5);
  color: #fff;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
}

@media (max-width: 600px) {
  .header .brand {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .display-off {
    display: none;
  }

  main {
    width: auto;
    background: #bc1c2c;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
  .change {
    width: 1rem;
    height: 100%;
    font-size: 1rem;
  }

  .box {
    width: 24rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border-radius: 6rem;
  }
}
