.main-home {
	display: flex;
	flex-direction: row;
	padding-top: 4rem;
	background-color: #ffffff;
	width: 100%;
	min-height: 100vh;
	height: auto;
	color: #2e0e04;
	border: 1px solid blue;
	@media all and (max-width: 400px) {
		width: 100%;
		padding: 4rem 1rem 1rem;
	}

	#box {
		display: grid;
		justify-self: center;
		align-self: center;
		margin-right: 1rem;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 0 10px;
		width: 100%;
		margin-bottom: 1rem;

		@media all and (max-width: 400px) {
			grid-template-columns: 1fr 1fr;
			align-self: center;
			justify-self: center;
			width: 100%;
			row-gap: 10px;
		}

		.box-pokemon {
			display: flex;
			flex-direction: column;
			border: black 1px solid;
			height: 10rem;
			width: 10rem;
			border-radius: 1rem;

			.box-title {
				padding: 0.5rem;
				border-radius: 1rem 1rem 0 0;
				width: 100%;
				color: #ffffff;
				background-color: red;
				font-size: 1.4rem;
				text-transform: capitalize;
			}

			&.box-pokemon:hover {
				transform: scale(1.2);
				transition-duration: 300ms;
			}
		}
	}

	#aside {
		justify-self: left;
		padding-left: 1rem;
		margin-right: 2rem;
		height: 100vh;
		width: 20rem;
		border: red 1px solid;

		@media all and (max-width: 400px) {
			display: none;
		}
	}
}
