<%- include('partials/header') %>
<main>
  <div class="content">
    <section class="favoritos">
      <div class="title"><span></span> Favoritos</div>
    </section>
    <section class="updates">
      <div class="title"><span></span> Cadastrados</div>
      <div class="box-update">
        <h1 class="texto-update">Pokemon</h1>
        <span></span>
      </div>
      <div class="box-update">
        <h1 class="texto-update">Pikachu</h1>
        <span></span>
        <img src="http://www.smashbros.com/images/og/pikachu.jpg" alt="" />
      </div>
      <div class="box-update">
        <h1 class="texto-update">Pokemon</h1>
        <span></span>
      </div>
      <div class="box-update">
        <h1 class="texto-update">Pokemon</h1>
        <span></span>
      </div>
      <div class="box-update">
        <h1 class="texto-update">Pokemon</h1>
        <span></span>
      </div>
      <div class="box-update">
        <h1 class="texto-update">Pokemon</h1>
        <span></span>
      </div>
    </section>
  </div>
</main>
<%- include("partials/footer") %>
