<%- include('partials/header') %>
<main>
  <div class="content">
    <section class="championships">Campeonatos</section>
    <section class="updates">
      <div class="title"><span></span> Atualizações</div>
      <div class="box-update">
        <h1 class="texto-update">Atualizações de maio</h1>
        <span></span>
        <article class="texto-update">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          quasi rerum repellat sint aliquid aut incidunt, saepe nam laudantium,
          commodi sed deserunt facere blanditiis nulla expedita labore possimus
          mollitia aspernatur.
        </article>
      </div>
      <div class="box-update">
        <h1 class="texto-update">Atualizações de maio</h1>
        <span></span>
        <article class="texto-update">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          quasi rerum repellat sint aliquid aut incidunt, saepe nam laudantium,
          commodi sed deserunt facere blanditiis nulla expedita labore possimus
          mollitia aspernatur.
        </article>
      </div>
      <div class="box-update">
        <img src="img/1fM3.gif" alt="" />
      </div>
      <div class="box-update">
        <h1 class="texto-update">Atualizações de maio</h1>
        <span></span>
        <article class="texto-update">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          quasi rerum repellat sint aliquid aut incidunt, saepe nam laudantium,
          commodi sed deserunt facere blanditiis nulla expedita labore possimus
          mollitia aspernatur.
        </article>
      </div>
    </section>
  </div>
</main>
<%- include("partials/footer") %>
